annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
blake3==1.0.8
cbor2==5.9.0
cffi==2.0.0
click==8.3.2
cryptography==46.0.7
fastapi==0.136.0
h11==0.16.0
idna==3.11
itsdangerous==2.2.0
pyasn1==0.6.3
pycparser==3.0
pydantic==2.13.2
pydantic_core==2.46.2
pyOpenSSL==26.0.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
webauthn==2.7.1
